<!DOCTYPE html>
<html>
<title>INGREDIENTS RECOMMENDER</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
<body>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>


<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="#" class="w3-left w3-button w3-white">INGREDIENTS RECOMMENDER</a>
  </header>

  <!-- Photo Grid -->
  <div class="w3-row">
    <div class="w3-half">
      <img src="/static/ing.jpg" style="width:90%">
    </div>

    <div class="w3-half">
      <img src="/static/ing2.jpg" style="width:90%">
    </div>
  </div>


<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <h2>How it works</h2>
    <p>Wondering which ingredient could you add to your recipe to SPICED it up...? Welcome the ingredient recommender!</p>
    <br>
    <label><b>Enter one or more ingredient to have suggested ingredients</b></label>
    <br>
    <br>

    <script>
        $(function() {
            $(".searchBox").autocomplete({
                source : function(request, response) {
                    $.ajax({
                        type: "POST",
                        url : "http://localhost:5000/search",
                        dataType : "json",
                        cache: false,
                        data : {
                            q : request.term
                        },
                        success : function(data) {
                            //alert(data);
                            //console.log(data);
                            response(data);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus + " " + errorThrown);
                        }
                    });
                },
                minLength : 2
            });
        });
    </script>
    <body>
      <form action="/ing" method="GET">
            <p style="width: 560px; margin: auto;">
              
                <label> </label>&nbsp;&nbsp;<input type="text" name="ing1" class="searchBox"/>
                <label> </label>&nbsp;&nbsp;<input type="text" name="ing2" class="searchBox"/>
                <br>
                <br>
                <label> </label>&nbsp;&nbsp;<input type="text" name="ing3" class="searchBox"/>
                <label> </label>&nbsp;&nbsp;<input type="text" name="ing4" class="searchBox"/>
            </p>
        </div>
    </body> 

    <br>
    <div class="w3-section"> 
      <label><b>How are you feeling today?</b></label>
      <br>
      <br>
        <input type="radio" id="best_match" name="reco_type" value="best_match" checked> 
        <label for="male">Give me the best 5 matches!</label>
        <br>
        <input type="radio" id="random_best" name="reco_type" value="random_best">
        <label for="female">Give me a couple of good matches!</label>
        <br>
        <input type="radio" id="surprise_me" name="reco_type" value="surprise_me">
        <label for="other">Surprise me! --> it might be a surprisingly good match, or not... </label>
    </div>

    <button type="submit" class="w3-button w3-block w3-dark-grey">Let's find your next ingredients!</button>
  </form>

  <br>

</footer>
</body>
</html>

